In [16]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [17]:
# Basic operations - Addition, Subtraction, Multiplication, Division

In [24]:
2 + 6

8

In [25]:
6- 2

4

In [26]:
2 *4

8

In [27]:
8 / 2

4.0

In [3]:
# Bound to Rules

In [29]:
4*3

12

In [31]:
4 ** 3

64

In [32]:
4^3

7

In [4]:
# PEMDAS - precedence rules

In [33]:
2 + 3 * -5

-13

In [35]:
(2+3) -5

0

In [5]:
# Strings

In [42]:
"This a'int cool"

"This a'int cool"

In [44]:
"8"

'8'

In [6]:
# Math w/ String

In [51]:
"Data8" * 8

'Data8Data8Data8Data8Data8Data8Data8Data8'

## Names ##

In [54]:
"a" = 2

SyntaxError: cannot assign to literal (4234796574.py, line 1)

In [55]:
a

2

In [60]:
b = 3

In [61]:
a*b

6

In [62]:
result = a * b

In [63]:
result

6

In [65]:
b

3

In [72]:
a = a + 1
a

9

In [73]:
a * b = result

SyntaxError: cannot assign to operator (314631915.py, line 1)

### Why Names?

In [74]:
# Option 1
40 * 14.00

560.0

In [75]:
40 * 52 * 14.00

29120.0

In [80]:
# Option 2
hourly_minimum_wage = 14.00
hours_per_week = 40
weeks_per_year = 52

In [81]:
hours_per_year = hours_per_week * weeks_per_year

In [82]:
hours_per_year

2080

In [83]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

560.0

In [84]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

29120.0

## Functions and Call Expressions

In [91]:
abs(2 * -3)

6

In [93]:
day_temp = 76
night_temp = 52

abs(night_temp - day_temp)

24

In [96]:
min(1, 2, 3)

1

In [100]:
round(12.434985932859857294857932, 2)

12.43

In [101]:
round?

12.34

In [104]:
Table

datascience.tables.Table

## Tables ##

In [14]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

In [105]:
cones.show(3)

In [112]:
Flavor = 'Flavor'
cones.select(Flavor)

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [113]:
cones.select('Flavor', 'Color', 'Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [114]:
cones.drop("Rating")

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [123]:
sorted = cones.sort("Price", descending=True)
sorted.show(1)

In [125]:
cones(1, 2, 3)

TypeError: 'Table' object is not callable

In [130]:
only_chocolate = cones.where("Flavor", "Chocolate")

In [131]:
only_chocolate

Flavor | Color | Price | Rating

### A more interesting table

In [15]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

rank | name             | position | SALARY                 | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)