In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [2]:
# Basic operations - Addition, Subtraction, Multiplication, Division

In [12]:
# Bound to Rules

In [13]:
# PEMDAS - precedence rules

In [14]:
# Strings

In [15]:
# Math w/ String

## Names ##

### Why Names?

In [ ]:
# Option 1
40 * 14.00

In [ ]:
40 * 52 * 14.00

In [ ]:
# Option 2
ca_hourly_minimum_wage = 14.00
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

## Functions and Call Expressions

## Tables ##

In [16]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

### A more interesting table

In [17]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

rank | name             | position | SALARY                 | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)